.intro-body{
	display: table-cell;
	vertical-align: middle;
	background-color: #212121
}

.bar-data {
	background-color: #191919;
padding-top: 50px;
padding-bottom: 50px;
padding-right: 10px;
padding-left: 10px;
}