<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" show-header-on-top>
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="icon-bars text-lg"></i>
			</button>
			<a class="navbar-brand page-scroll" href="" ng-click="home.gotoAnyPartOfPage('intro');">
				<i class="fa fa-play-circle"></i>  <span class="light">KARAMUSE APP</span> 
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a ng-click="home.gotoAnyPartOfPage('intro');"></a>
				</li>
				<li>
					<a href="#intro" scroll-on-click>Home</a>
				</li>
				<li>
					<a href="#orders" scroll-on-click>Pedidos</a>
				</li>
				<li>
					<a href="#codes" scroll-on-click>Códigos</a>
				</li>
				<li>
					<a href="#addCatalog" scroll-on-click>Catálogo</a>
				</li>
				<li>
					<a href="" ng-click="home.logout();">Logout</a>
				</li>                     
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<style>

</style>

<header id="intro" style="height: 100%;padding: 0;display: table;width: 100%;">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="bar-data col-xs-8 col-sm-4 col-md-4 col-lg-4 col-xs-offset-2 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
					<div class="pb-10 thumbnail">
						<img class="img-circle img-responsive" ng-src="{{home.bar.info.avatar.url}}" alt="avatar_pic" ng-show="home.bar.info.avatar.show" imageonload="home.bar.info.avatar.show=true" style="width: 100%;">
					</div>
					<h3 class="text-center text-white">{{home.bar.info.name}}</h3>
					<h4 class="text-center">{{home.bar.info.address}}</h4>
					<h4 class="text-center text-danger" ng-if="home.bar.info.ordersLimit==0">Pedidos bloqueados</h4>
					<h4 class="text-center text-blue-karamuse" ng-if="home.bar.info.ordersLimit==1">1 pedido permitido</h4>
					<h4 class="text-center text-blue-karamuse" ng-if="home.bar.info.ordersLimit>1">{{home.bar.info.ordersLimit}} pedidos permitidos</h4>
					<h4 class="text-center" ng-if="!home.bar.info.ordersLimit"></h4>
					<button type="submit" class="btn btn-border btn-bright-gray-karamuse text-light text-md center-block pl-20 pr-20 mt-20" ng-click="home.openModalEditData(home.bar.info);" uib-tooltip="Cambiar datos del bar">Editar</button>
					<a href="#about" class="btn btn-circle page-scroll">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- orders Section -->
<section id="orders" class="container content-section text-center" style="height: 100%;">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<h1 class="text-light text-white">Pedidos</h1>
				<div class="btn-group mb-10" ng-class="{'pull-left':home.orders.show}">
					<button type="button" class="icon icon-default  icon-ef-3 icon-ef-3a hover-color text-md" ng-click="getOrders()" uib-tooltip="Recargar pedidos">
						<i class="icon-refresh"></i>
					</button>
					<button type="button" class="icon icon-default icon-ef-3 icon-ef-3a hover-color text-md" ng-click="home.openModalAddOrder()" ng-disabled="home.bar.info.ordersLimit=='0'" uib-tooltip="Pedir un karaoke">
						<i class="icon-microphone"></i>
					</button>
					<button type="button" class="icon icon-default  icon-ef-3 icon-ef-3a hover-color text-md center-block" ng-click="home.lockUnlockOrders();" uib-tooltip="{{home.orders.btnGroup.buttons.lockUnlock.tooltip}}">
						<i class="icon-{{home.orders.btnGroup.buttons.lockUnlock.icon}}"></i>
					</button>
				</div>
				<div class="btn-group mb-10 pull-right" ng-show="home.orders.show">
					<input type="text" class="form-control inline underline-input filter-show-animate text-white" placeholder="Título" ng-blur="home.orders.search.show=false;" ng-model="home.orders.search.title.text" ng-hide="!home.orders.search.show" focus="home.orders.search.focus">
					<button type="button" class="icon icon-default icon-ef-3 icon-ef-3a hover-color text-md" ng-click="home.orders.search.show=true;home.orders.search.focus=true;" uib-tooltip="Filtrar pedidos">
						<i class="icon-search"></i>
					</button>
				</div>
		</div>
	</div>
	<div class="row mt-10">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<table class="table footable orders-table" ng-show="home.orders.show">
				<thead>
					<tr style="display: table; width: 100%">
						<th class="text-blue-karamuse" style="display: table-cell;width: 15%">
							Ticket
						</th>
						<th class="text-blue-karamuse" style="display: table-cell;width: 25%">
							Artista
						</th>
						<th class="text-blue-karamuse" style="display: table-cell;width: 25%">
							Canción
						</th>
						<th class="text-blue-karamuse" style="display: table-cell;width: 20%">
							Hora
						</th>
						<th class="text-blue-karamuse" style="display: table-cell;width: 15%">
							Opciones
						</th>
					</tr>
				</thead>
				<tbody>
					<tr  ng-repeat="tr in home.orders.list | filter:home.orders.search.title.text" ng-class="{'text-white':tr.state == '0','text-gray-karamuse':tr.state == '1'}" style="display: table;width: 100%;">
						<td style="display: table-cell;width: 15%" class="text-left">{{tr.ticket}}</td>
						<td style="display: table-cell;width: 25%" class="text-left">{{tr.artist}}</td>
						<td style="display: table-cell;width: 25%" class="text-left">{{tr.song}}</td>
						<td style="display: table-cell;width: 20%" class="text-left">{{tr.createdAt | date:"HH:mm"}}</td>
						<td style="display: table-cell;width: 15%">
							<div uib-dropdown is-open="false">
								<button type="button" class="btn btn-border btn-blue-karamuse text-xs " ng-click="" uib-dropdown-toggle>. . .</button>
								<ul class="dropdown-menu" uib-dropdown-menu template-url="orderOptions.html" aria-labelledby="button-template-url" ></ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<h3 class="text-light text-blue-karamuse" ng-show="!home.orders.show">No tienes pedidos aún. ¡Anima a tus clientes a cantar!</h3>
		</div>
	</div>
</section>

<!-- codes Section -->
<section id="codes" class="container content-section text-center" style="height: 100%;">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
			<h1 class="text-light mb-40 text-white">Códigos disponibles</h1>
			<div class="btn-group mb-10 block">
				<button type="button" class="icon icon-default icon-ef-3 icon-ef-3a hover-color text-md" uib-tooltip="Generar más códigos" ng-click="home.openModalGenerateCodes({value:home.codes.list.length});" ng-disabled="home.codes.buttons.more.disabled">
					<i class="icon-plus"></i>
				</button>
			</div>
			<div class="btn-group mt-20" >
				<button type="button" ng-class="{'btn-bright-gray-karamuse':code.state=='0','btn-blue-karamuse':code.state=='1','btn-orange':code.state=='2'}" class="btn btn-border text-sm mt-10 ml-10 mr-10 mb-10 text-md" ng-repeat="code in home.codes.list track by $index" ng-click="home.updateCodeState(code.code,code.state,$index);" uib-popover="{{code.popover.text}}" popover-is-open="code.popover.show">
					{{code.code}}
				</button>
			</div>
		</div>
	</div>
</section>

<!-- catalog Section -->
<section id="addCatalog" class="container content-section text-center" style="height: 100%;">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
			<h1 class="text-light mb-40 text-white">Agrega un karaoke</h1>
			<form class="form-horizontal" name="catalogForm" novalidate>
				<div class="form-group">
					<label for="title" class="col-sm-3 control-label text-lg">Artista</label>
					<div class="col-sm-8">
						<input type="text" class="form-control underline-input text-white" id="title" placeholder="Nombre de artista..." ng-model="home.catalog.artist.text" required >
					</div>
				</div>
				<div class="form-group">
					<label for="title" class="col-sm-3 control-label text-lg">Canción</label>
					<div class="col-sm-8">
						<input type="text" class="form-control underline-input text-white" id="title" placeholder="Título del karaoke..." ng-model="home.catalog.song.text" required >
					</div>
				</div>
				<div class="form-group">
					<label for="title" class="col-sm-3 control-label text-lg">URL Video</label>
					<div class="col-sm-8">
						<input type="url" class="form-control underline-input text-white" id="title" placeholder="https://www.youtube.com/..." ng-model="home.catalog.url.text" required >
					</div>
				</div>
				<button class="btn btn-border btn-blue-karamuse pl-20 pr-20 mt-40 text-lg" type="button" ng-click="home.saveKaraoke(home.catalog.artist.text,home.catalog.song.text,home.catalog.url.text)" ng-disabled="catalogForm.$invalid || home.catalog.buttons.send.disabled">Enviar</button>
			</form>
		</div>
	</div>
</section>

<script type="text/ng-template" id="orderOptions.html">
	<ul class="dropdown-menu bg-gray-karamuse" uib-dropdown-menu role="menu" aria-labelledby="button-template-url" style="min-width: auto;">
		<li ng-if="tr.state == '0'"><a href="" ng-click="home.changeOrderState(tr.id, 'switchToReady')">Listo</a></li>
		<li ng-if="tr.state == '1'"><a href="" ng-click="home.changeOrderState(tr.id, 'switchToPending')">Pendiente</a></li>
		<li><a href="" ng-click="home.openModalOrderInfo(tr,$index)">Info</a></li>
		<li><a href="" ng-click="home.deleteOrder(tr.id, 'remove')" class="text-danger">Eliminar</a></li>
	</ul>
</script>

<script type="text/ng-template" id="order-info.html">
	<div class="modal-header">
		<h3 class="modal-title text-center text-light" id="modal-title">Información del pedido</h3>
	</div>
	<div class="modal-body text-center" id="modal-body">
		<table class="table">
			<tr>
				<td class="text-blue-karamuse b-0">Ticket</td>
				<td class="text-left b-0">{{orderInfo.orderData.ticket}}</td>
			</tr>
			<tr>
				<td class="text-blue-karamuse">Artista</td>
				<td class="text-left">{{orderInfo.orderData.artist}}</td>
			</tr>
			<tr>
				<td class="text-blue-karamuse">Canción</td>
				<td class="text-left">{{orderInfo.orderData.song}}</td>
			</tr>
			<tr>
				<td class="text-blue-karamuse">Hora</td>
				<td class="text-left">{{orderInfo.orderData.createdAt | date:'HH:mm'}}</td>
			</tr>
			<tr>
				<td class="text-blue-karamuse">Nombre cliente</td>
				<td class="text-left">{{orderInfo.orderData.message}}</td>
			</tr>
			<tr ng-switch="orderInfo.orderData.state">
				<td class="text-blue-karamuse">Estado</td>
				<td class="text-left" ng-switch-when="0" >Pendiente</td>
				<td class="text-left" ng-switch-when="1" >Listo</td>
			</tr>
			<tr>
				<td class="text-blue-karamuse">Código</td>
				<td class="text-left">{{orderInfo.orderData.code}}</td>
			</tr>
			<tr>
				<td class="text-blue-karamuse">Tiempo espera aproximado</td>
				<td class="text-left">{{orderInfo.orderData.waitTime | date:'HH:mm:ss'}}</td>
			</tr>
			<tr>
				<td class="text-blue-karamuse" style="vertical-align:bottom;">Link</td>
				<td class="text-left">
					<div class="input-group">
						<input class="form-control underline-input text-white" type="url" ng-model="orderInfo.orderData.url" ng-disabled="true">
						<span class="input-group-btn">
			        <button class="btn btn-border btn-bright-gray-karamuse b-0" ng-click="orderInfo.watchKaraoke(orderInfo.orderData.url)" uib-tooltip="Ver video" ng-show="orderInfo.orderData.isUrl"><i class="icon-youtube"></i></button>
							<button class="btn btn-border btn-bright-gray-karamuse b-0" ngclipboard data-clipboard-text="{{orderInfo.orderData.url}}" uib-tooltip="Copiar URL" ng-show="orderInfo.orderData.isUrl"><i class="icon-copy"></i></button>
			      </span>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer" style="text-align:center">
		<button class="btn btn-border btn-bright-gray-karamuse pl-20 pr-20" type="button" ng-click="orderInfo.cancel()">Cerrar</button>
	</div>
</script>

<script type="text/ng-template" id="dialog.html">
	<div class="loading" ng-show="dialogModal.modal.loader.show">Alineando los satélites&#8230;</div>
	<div class="modal-header">
		<h3 class="modal-title text-center text-light" id="modal-title" ng-show="dialogModal.modal.title.show">{{dialogModal.modal.title.text}}</h3>
	</div>
	<div class="modal-body text-center" id="modal-body">
		<p class="text-lg" ng-show="dialogModal.modal.subtitle.show">{{dialogModal.modal.subtitle.text}}</p>
		<p class="text-md" ng-show="dialogModal.modal.paragraph1.show">{{dialogModal.modal.paragraph1.text}}</p>
		<p class="text-md text-blue-karamuse" ng-show="dialogModal.modal.paragraph2.show">{{dialogModal.modal.paragraph2.text}}</p>
		<p class="text-md text-blue-karamuse" ng-show="dialogModal.modal.paragraph3.show">{{dialogModal.modal.paragrap3.text}}</p>
	</div>
	<div class="modal-footer" style="text-align:center">
		<button class="btn btn-border btn-blue-karamuse pl-20 pr-20" type="button" ng-click="dialogModal.cancel();dialogModal.modal.buttons.submit.function()" ng-show="dialogModal.modal.buttons.submit.show">{{dialogModal.modal.buttons.submit.text}}</button>
		<button class="btn btn-border btn-bright-gray-karamuse pl-20 pr-20" type="button" ng-click="dialogModal.modal.buttons.cancel.function()" ng-show="dialogModal.modal.buttons.cancel.show">{{dialogModal.modal.buttons.cancel.text}}</button>
	</div>
</script>

<script type="text/ng-template" id="add-order.html">
	<div class="loading" ng-show="addOrder.modal.loader.show">Alineando los satélites&#8230;</div>
	<div class="modal-header">
		<h3 class="modal-title text-center text-light" id="modal-title">¿Qué karaoke vas a pedir?</h3>
	</div>
	<div class="modal-body text-center" id="modal-body">
		<div class="row mb-10">
			<form name="form">
				<div class="col-xs-7 col-md-7 col-lg-7 col-xs-offset-2 col-md-offset-2 col-lg-offset-2 pr-5">
					<input type="text" class="form-control underline-input text-white" ng-model="addOrder.catalog.criterion.text" placeholder="Título del karaoke..." focus="addOrder.catalog.criterion.focus" ng-init="addOrder.catalog.criterion.focus=true" required>
				</div>
				<div class="col-xs-3 col-md-3 col-lg-3 pl-0">
					<button class="btn btn-border btn-blue-karamuse" type="submit" ng-click="addOrder.catalog.pagination.currentPage=1;addOrder.displayCatalog(addOrder.catalog.criterion.text,addOrder.catalog.pagination.sizePage,1)" ng-disabled="form.$invalid">Buscar</button>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12">
				<table class="table" ng-show="addOrder.catalog.list.length > 0">
					<thead>
						<tr>
							<th class="text-blue-karamuse">Artista</th>
							<th class="text-blue-karamuse">Canción</th>
							<th class="text-center text-blue-karamuse">Link</th>
							<th class="text-blue-karamuse">Agregar</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="td in addOrder.catalog.list">
							<td class="text-white text-left">
								{{td.artist}}
							</td>
							<td class="text-white text-left">
								{{td.song}}
							</td>
							<td class="text-left">
								<a class="btn btn-border btn-bright-gray-karamuse" ng-href="{{td.url}}" target="_blank" rel="noopener noreferrer" specs="fullscreen=yes">Ver karaoke</a>
							</td>
							<td class="text-left">
								<button type="button" class="btn btn-border btn-blue-karamuse" ng-click="addOrder.addOrder(td.id,$index)" uib-popover="{{td.addButton.successPopover.text}}" popover-is-open="td.addButton.successPopover.show" ng-disabled="td.addButton.disabled">+</button>
							</td>
						</tr>
					</tbody>
				</table>
				<h4 ng-show="addOrder.modal.messages.catalog.show">{{addOrder.modal.messages.catalog.text}}</h4>
				<ul ng-show="addOrder.catalog.pagination.show" uib-pagination total-items="addOrder.catalog.pagination.totalResults" ng-model="addOrder.catalog.pagination.currentPage" max-size="addOrder.catalog.pagination.maxSize" num-pages="addOrder.catalog.pagination.totalPages" items-per-page="addOrder.catalog.pagination.sizePage" ng-change="addOrder.displayCatalog(addOrder.catalog.criterion.text,addOrder.catalog.pagination.sizePage,addOrder.catalog.pagination.currentPage)" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="<" next-text=">" last-text=">>" first-text="<<" template-url="pagination.html"></ul>
			</div>
		</div>
	</div>
	<div class="modal-footer" style="text-align:center">
		<button class="btn btn-border btn-bright-gray-karamuse pl-20 pr-20" type="button" ng-click="addOrder.cancel()">Cerrar</button>
	</div>
</script>

<script type="text/ng-template" id="orders-limit.html">
	<div class="loading" ng-show="ordersLimit.modal.loader.show">Alineando los satélites&#8230;</div>
	<div class="modal-header">
		<h3 class="modal-title text-center text-light" id="modal-title">¿Cuántos pedidos vas a permitir?</h3>
		<h4 class="text-light text-center" ng-class="{'text-danger':ordersLimit.modal.subtitle.danger}" ng-show="ordersLimit.modal.subtitle.show">{{ordersLimit.modal.subtitle.text}}</h4>
	</div>
	<div class="modal-body text-center" id="modal-body">
		<form class="form-inline" name="form">
			<div class="form-group">
				<input type="button" class="btn btn-border btn-blue-karamuse text-light text-md pl-20 pr-20 mr-10" value="-" ng-mousedown="ordersLimit.keyDown('dec',ordersLimit.modal.form.ordersLimit.value)" ng-mouseup="ordersLimit.keyUp()" >
				<input class="inline-block form-control br-0 b-0 text-gray-karamuse text-center w-60" type="number" ng-model="ordersLimit.modal.form.ordersLimit.value" ng-min="ordersLimit.modal.form.ordersLimit.current" ng-max="ordersLimit.modal.form.ordersLimit.max" ng-step="ordersLimit.modal.form.ordersLimit.step" required disabled>
				<input type="button" class="btn btn-border btn-blue-karamuse text-light text-md pl-20 pr-20 ml-10" value="+" ng-mousedown="ordersLimit.keyDown('inc',ordersLimit.modal.form.ordersLimit.value)" ng-mouseup="ordersLimit.keyUp()" >
			</div>
			<div ng-switch="ordersLimit.modal.form.ordersLimit.min">
				<p class="help-block text-md" ng-switch-when="0"></p>
				<p class="help-block text-md" ng-switch-when="1">Tienes 1 pedido</p>
				<p class="help-block text-md" ng-switch-default>Tienes {{ordersLimit.modal.form.ordersLimit.current}} pedidos actualmente</p>
			</div>
		</form>
	</div>
	<div class="modal-footer" style="text-align:center">
		<button class="btn btn-border btn-blue-karamuse pl-20 pr-20" type="button" ng-disabled="form.$invalid || ordersLimit.modal.buttons.save.disabled" ng-click="ordersLimit.setOrdersLimit(ordersLimit.modal.form.ordersLimit.value)">Guardar</button>
		<button class="btn btn-border btn-bright-gray-karamuse pl-20 pr-20" type="button" ng-click="ordersLimit.cancel()">Cerrar</button>
	</div>
</script>

<script type="text/ng-template" id="edit-data.html">
	<div class="loading" ng-show="addOrder.modal.loader.show">Alineando los satélites&#8230;</div>
	<div class="modal-header">
		<h3 class="modal-title text-center text-light" id="modal-title" ng-show="editData.modal.title.show">{{editData.modal.title.text}}</h3>
	</div>
	<div class="modal-body text-center" id="modal-body">
		<p class="text-lg" ng-show="editData.modal.subtitle.show">{{editData.modal.subtitle.text}}</p>
		<p class="text-md" ng-show="editData.modal.paragraph1.show">{{editData.modal.paragraph1.text}}</p>
		<p class="text-md text-blue-karamuse" ng-show="editData.modal.paragraph2.show">{{editData.modal.paragraph2.text}}</p>
		<p class="text-md text-blue-karamuse" ng-show="editData.modal.paragraph3.show">{{editData.modal.paragrap3.text}}</p>

		<form name="form" class="form-horizontal" novalidate>

			<div class="form-group">
				<label for="barName" class="col-sm-3 control-label">Nombre</label>
				<div class="col-sm-8">
					<input ng-cloak type="text" class="form-control underline-input text-white" id="barName" placeholder="Nombre del bar..." ng-model="editData.bar.data.name" required >
				</div>
			</div>

			<div class="form-group">
				<label for="barAddress" class="col-sm-3 control-label">Dirección</label>
				<div class="col-sm-8">
					<input ng-cloak type="text" class="form-control underline-input text-white" id="barAddress" placeholder="Dirección del bar..." ng-model="editData.bar.data.address" required >
				</div>
			</div>

			<div class="form-group">
				<label for="barAvatar" class="col-sm-3 control-label">Foto de perfil</label>
				<div class="col-sm-8">
					<input ng-cloak type="text" class="form-control underline-input text-white" id="barAvatar" placeholder="URL foto de perfil..." ng-model="editData.bar.data.avatar" required >
				</div>
			</div>

			<div class="form-group">
				<label for="totalOrders" class="col-sm-3 control-label">Límite de pedidos</label>
				<div class="col-sm-8">
					<input type="number" class="form-control underline-input text-white" id="totalOrders" placeholder="{{editData.bar.data.totalOrders.min}}" ng-model="editData.bar.data.totalOrders.value" ng-min="editData.bar.data.totalOrders.min" ng-max="editData.bar.data.totalOrders.max" required>
					<!-- <div ng-switch="editData.bar.data.totalOrders.min">
						<p class="help-block text-left" ng-switch-when="0"></p>
						<p class="help-block text-left" ng-switch-when="1">Tienes 1 pedido</p>
						<p class="help-block text-left" ng-switch-default>Tienes {{editData.bar.data.totalOrders.current}} pedidos actualmente</p>
					</div> -->
					<p class="help-block text-left text-red" ng-show="editData.bar.data.totalOrders.message.show">{{editData.bar.data.totalOrders.message.text}}</p>
				</div>
			</div>

			<div class="form-group">
				<label for="ad" class="col-sm-3 control-label">Texto promoción</label>
				<div class="col-sm-8">
					<input type="text" class="form-control underline-input text-white" id="ad" placeholder="Texto promocional..." ng-model="editData.bar.data.textAd">
				</div>
			</div>

			<div class="form-group">
				<label for="banner" class="col-sm-3 control-label">Imágen banner</label>
				<div class="col-sm-8">
					<input type="text" class="form-control underline-input text-white" id="banner" placeholder="URL banner de promoción..." ng-model="editData.bar.data.bannerAd">
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer" style="text-align:center">
		<button class="btn btn-border btn-blue-karamuse pl-20 pr-20" type="button" ng-disabled="form.$invalid || editData.modal.buttons.save.disabled" ng-click="editData.editData(editData.bar.data)">Guardar</button>
		<button class="btn btn-border btn-bright-gray-karamuse pl-20 pr-20" type="button" ng-click="editData.cancel()">Cancelar</button>
	</div>
</script>

<script type="text/ng-template" id="pagination.html">
	<li style="display:block" ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-first">
		<a href ng-click="selectPage(1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle class="">{{::getText('first')}}</a>
	</li>
	<li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev">
		<a href ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle class="btn btn-border">{{::getText('previous')}}</a>
	</li>
	<li ng-repeat="page in pages track by $index" ng-class="{active: page.active,disabled: ngDisabled&&!page.active}" class="pagination-page">
		<a href ng-click="selectPage(page.number, $event)" ng-disabled="ngDisabled&&!page.active" uib-tabindex-toggle class="btn btn-border btn-bright-gray-karamuse">{{page.text}}</a>
	</li>
	<li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next">
		<a href ng-click="selectPage(page + 1, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle class="btn btn-border">{{::getText('next')}}</a>
	</li>
	<li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-last">
		<a href ng-click="selectPage(totalPages, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle class="">{{::getText('last')}}</a>
	</li>
</script>

<script type="text/ng-template" id="generate-codes.html">
	<div class="modal-header">
		<h3 class="modal-title text-center text-light" id="modal-title">{{generateCodes.modal.title.text}}</h3>
		<h4 class=" text-center" ng-class="{'text-danger':generateCodes.modal.subtitle.danger}" ng-show="generateCodes.modal.subtitle.show">{{generateCodes.modal.subtitle.text}}</h4>
	</div>
	<div class="modal-body text-center" id="modal-body">
		<form class="form-inline" name="form">
			<div class="form-group">
				<input type="button" class="btn btn-border btn-blue-karamuse text-light text-md pl-20 pr-20 mr-10" value="-" ng-mousedown="generateCodes.keyDown('dec',generateCodes.modal.form.codes.value)" ng-mouseup="generateCodes.keyUp()" >
				<input class="inline-block form-control br-0 b-0 text-gray-karamuse text-center w-60" type="number" ng-model="generateCodes.modal.form.codes.value" ng-min="generateCodes.modal.form.codes.min" ng-max="generateCodes.modal.form.codes.max" ng-step="generateCodes.modal.form.codes.step" required disabled>
				<input type="button" class="btn btn-border btn-blue-karamuse text-light text-md pl-20 pr-20 ml-10" value="+" ng-mousedown="generateCodes.keyDown('inc',generateCodes.modal.form.codes.value)" ng-mouseup="generateCodes.keyUp()" >  
			</div>
		</form>

	</div>
	<div class="modal-footer" style="text-align:center">
		<button class="btn btn-border btn-bright-gray-karamuse pl-20 pr-20" type="button" ng-click="generateCodes.cancel()">Cancelar</button>
		<button class="btn btn-border btn-blue-karamuse pl-20 pr-20" type="button" ng-disabled="form.$invalid || generateCodes.modal.buttons.send.disabled" ng-click="generateCodes.generateCodes()">Generar</button>
	</div>
</script>