<div layout="column" id="dialogContainer" ng-cloak flex layout-fill>

	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<h2><span>Paso 1</span></h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Home">
				<md-icon md-font-icon="icon-home" ng-style="{'font-size':'23px'}" ng-click="searchKaraoke.gotoState('client.home');" />
			</md-button>
		</div>
	</md-toolbar>

	<md-content flex layout-padding>
		<md-list>
			<md-list-item class="md-2-line">
				<img ng-src="{{searchKaraoke.bar.info.settings.avatar}}" class="md-avatar" alt="avatar_{{searchKaraoke.bar.info.name}}" />
				<div class="md-list-item-text">
					<h3>{{searchKaraoke.bar.info.name}}</h3>
					<p>{{searchKaraoke.bar.info.address}}</p>
				</div>
			</md-list-item>
		</md-list>

		<form name="searchKaraokeForm">
			<div layout-gt-xs="row">
				<md-input-container class="md-block md-title" flex-gt-xs>
					<label>Ingresa un artista o canción</label>
					<input  ng-model="catalog.criterion.text" focus="catalog.criterion.focus" ng-init="catalog.criterion.focus=true;" required>
				</md-input-container>
			</div>
			
			<div layout="column" layout-align="center" flex layout-padding>
				<md-button class="md-primary md-raised text-md" ng-click="searchKaraoke.form.buttons.search.disabled=true;searchKaraoke.getKaraokes(catalog.criterion.text,catalog.pagination.sizePage,catalog.pagination.currentPage);" ng-disabled="searchKaraokeForm.$invalid || searchKaraoke.form.buttons.search.disabled || catalog.criterion.text.length<2">Buscar</md-button>
			</div>

		</form>

	</md-content>

</div>
