<div layout="column" ng-cloak flex layout-fill>

	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">¡Bienvenido a Karamuse!</div>
	</md-toolbar>

	<md-content>
		<md-subheader>¿Dónde te encuentras?</md-subheader>
		<md-list>
			<md-list-item class="md-2-line" ng-repeat="bar in clientHome.bars.list" ng-click="clientHome.gotoSearchKaraoke(bar);">
				<img ng-src="{{bar.settings.avatar}}" class="md-avatar" alt="avatar_{{clientHome.name}}" />
				<div class="md-list-item-text">
					<h3>{{bar.name}}</h3>
					<p>{{bar.address}}</p>
				</div>
			</md-list-item>
		</md-list>
		<!-- <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div> -->
	</md-content>

</div>