<style type="text/css">
	.logo {
		padding: 30px
	}
</style>
<div layout="column" ng-cloak flex layout-fill>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools" layout="row" layout-align="center center">
			<h2 class="md-title"><span>¿Dónde estás?</span></h2>
		</div>
	</md-toolbar>

	<md-content flex>
		
	<div layout="row" layout-align="center center" class="logo">
		  <img ng-src="images/karamuse-logo-new-blue.png" width="80%"/>
		</div>
		<md-list> 
			<md-list-item class="md-2-line" ng-repeat="bar in clientHome.bars.list" ng-click="bar.disabled=true;clientHome.gotoSearchKaraoke(bar);" ng-disabled="bar.disabled">
				<img ng-src="{{bar.settings.avatar}}" class="md-avatar" alt="avatar_{{clientHome.name}}" />
				<div class="md-list-item-text">
					<h3>{{bar.name}}</h3>
					<p>{{bar.address}}</p>
				</div>
			</md-list-item>
		</md-list>      
	</md-content>

</div>

<script type="text/ng-template" id="karamuse-client.banner.tmpl.html">
	<md-dialog aria-label="banner">
		<md-toolbar md-scroll-shrink>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Cerrar">
					<md-icon md-font-icon="material-icons" ng-click="banner.closeDialog();">close</md-icon>
				</md-button>
			</div>
			<md-dialog-content>
				<md-content flex>
					<img ng-src="{{banner.elements.banner.url}}" class="img-responsive" alt="banner"/>
				</md-content>
			</md-dialog-content>
		</md-toolbar>
	</md-dialog>
</script>