<div layout="column" ng-cloak flex layout-fill>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<span flex></span>
			<md-button class="md-primary md-hue-1" aria-label="Buscar karaoke" ng-click="banner.gotoState('client.search-karaoke');">Buscar Karaoke <md-icon md-font-icon="material-icons">arrow_forward</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-content flex>
		<img ng-src="{{banner.elements.banner.url}}" class="img-responsive" alt="banner">
	</md-content>

</div>