<!-- <div class="p-0 page page-core page-login"> -->
<div class="">

  <div>
    <div class="text-center">
      <img style="width:45%" ng-src="images/karamuse-logo.png">
    </div>

    <div class="container w-420 p-20 bg-gray-karamuse mt-40 text-center">

      <h2 class="text-light text-blue-karamuse">Login</h2>

      <div ng-show="login.page.messages.loginResponse.show">
        <h4 class="text-light text-{{login.page.messages.loginResponse.title.color}}">{{login.page.messages.loginResponse.title.text}}</h4>
        <h4 class="text-light text-{{login.page.messages.loginResponse.subtitle.color}}">{{login.page.messages.loginResponse.subtitle.text}}</h4>
      </div>

      <form name="form" class="form-validation mt-20" novalidate>

        <div class="form-group">
          <input type="email" class="form-control b-0" placeholder="Email del bar..." ng-model="login.user.data.email" required>
        </div>

        <div class="form-group">
          <input type="password" placeholder="Contraseña..." class="form-control b-0" ng-model="login.user.data.password" required>
        </div>

        <div class="form-group text-center mt-20">
          <button type="submit" class="btn btn-border btn-blue-karamuse text-light text-md pl-20 pr-20" ng-click="login.login()" ng-disabled='form.$invalid'>Ingresa</button>
        </div>

        <div class="form-group mt-20">
          <a ui-sref="forgot-pass" class="text-light">Olvidé mi contraseña</a>
        </div>

        <div class="form-group mt-20">
          <a ui-sref="signup" class="text-light">Me quiero registrar</a>
        </div>

      </form>

    </div>
  </div>

</div>

<script type="text/ng-template" id="active-session.html">
  <div class="modal-header">
  <h3 class="modal-title text-center" id="modal-title">¡Vaya, vaya!</h3>
  </div>
  <div class="modal-body text-center" id="modal-body">
    <p class="text-lg">Tienes una sesión abierta</p>
    <p class="text-md">Del día {{activeSession.modal.session.data.createdAt | date:"MM/dd/yyyy ' a las ' HH:mm a"}}</p>
    <p class="text-md text-blue-karamuse">¿Quieres seguir en esta o crear una nueva?</p>
  </div>
  <div class="modal-footer" style="text-align:center">
    <button class="btn btn-border btn-bright-gray-karamuse pl-20 pr-20" type="button" ng-click="activeSession.follow()">Seguir</button>
    <button class="btn btn-border btn-blue-karamuse pl-20 pr-20" type="button" ng-click="activeSession.openSession()">Nueva</button>
  </div>
</script>

<script type="text/ng-template" id="generate-codes.html">
  <div class="modal-header">
  <h3 class="modal-title text-center text-light" id="modal-title">¿Cuántos códigos quieres?</h3>
  </div>
  <div class="modal-body text-center" id="modal-body">
    <form class="form-inline" name="form">
      <div class="form-group">
        <input type="button" class="btn btn-border btn-blue-karamuse text-light text-md pl-20 pr-20 mr-10" value="-" ng-mousedown="generateCodes.keyDown('dec',generateCodes.modal.form.codes.value)" ng-mouseup="generateCodes.keyUp()" >
        <input class="form-control br-0 b-0 text-gray-karamuse text-center w-60" type="number" ng-model="generateCodes.modal.form.codes.value" ng-min="generateCodes.modal.form.codes.min" ng-max="generateCodes.modal.form.codes.max" ng-step="generateCodes.modal.form.codes.step">
        <input type="button" class="btn btn-border btn-blue-karamuse text-light text-md pl-20 pr-20 ml-10" value="+" ng-mousedown="generateCodes.keyDown('inc',generateCodes.modal.form.codes.value)" ng-mouseup="generateCodes.keyUp()" >  
      </div>
    </form>

  </div>
  <div class="modal-footer" style="text-align:center">
    <button class="btn btn-border btn-bright-gray-karamuse pl-20 pr-20" type="button" ng-disabled="form.$invalid" ng-click="generateCodes.generateCodes()">Enviar</button>
  </div>
</script>