<!-- <div class="p-0 page page-core page-login"> -->
<div class="">

  <div class="mt-70">
    <div class="text-center">
      <img style="width:50%" ng-src="images/karamuse-logo.png">
    </div>

    <div class="container w-420 p-20 bg-blue-karamuse mt-40 text-center">

      <h2 class="text-light text-black">Login</h2>

      <div ng-show="login.page.messages.loginResponse.show">
        <h4 class="text-light text-{{login.page.messages.loginResponse.title.color}}">{{login.page.messages.loginResponse.title.text}}</h4>
        <h4 class="text-light text-{{login.page.messages.loginResponse.subtitle.color}}">{{login.page.messages.loginResponse.subtitle.text}}</h4>
      </div>

      <form name="form" class="form-validation mt-20" novalidate>

        <div class="form-group">
          <input type="email" class="form-control b-0" placeholder="Email del bar..." ng-model="login.user.data.email" required>
        </div>

        <div class="form-group">
          <input type="password" placeholder="Contraseña..." class="form-control b-0" ng-model="login.user.data.password" required>
        </div>

        <div class="form-group text-center mt-20">
          <button type="submit" class="btn btn-border btn-white  text-black b-0 text-md pl-20 pr-20" ng-click="login.login()" ng-disabled='form.$invalid'>Ingresa</button>
        </div>

        <div class="form-group mt-20">
          <a href="#/forgot-pass" class="" style="color:#015496;cursor:pointer">Olvidé mi contraseña</a>
        </div>

        <div class="form-group mt-20">
          <a href="#/signup" class="" style="color:#015496;cursor:pointer">Me quiero registrar</a>
        </div>

      </form>

    </div>
  </div>

</div>
